.navbar-brand{
    color:white;
    font-weight: bold;
    font-size: 30px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.navbar-brand:hover{
    color:black;
    font-weight: bold;
    font-size: 30px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
#navigation{
    color:white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
#navigation:hover{
    color:black;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#Home{
    color:white;
    font-weight: bold;
    font-size:20px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

#Home:hover{
    color:black;
    font-weight: bold;
    font-size:20px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
   
}
  header.masthead .masthead-subheading {
      font-size: 2rem;
      font-style: italic;
      line-height: 2.25rem;
      margin-bottom: 2rem;
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
      font-size: 4rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 3rem;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
 header.masthead {
        padding-top: 17rem;
        padding-bottom: 12rem;
        text-align: left;
        color:white ;
        background-image: url("images/Pet1.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
}

#button1{
    background-color:white;
    border-radius:0;
    border-color:white;
    border-style: solid;
    color:rgb(0, 147, 214);
    font-family: 'Oleo Script', cursive;
}

#search1{
    border-radius:0rem;
    
    
}
#button2{
    background-color:rgb(0, 147, 214);
    color:white;
    border-style:solid;
    border-color:white;
    border-radius: 1rem;
    margin-right: 20rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#button2:hover{
    background-color:white;
    color:rgb(0, 147, 214);   
}

#button3{
    background-color: white;
    color:palevioletred;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

   
}
#pawtahpet{
    color:rgb(0, 147, 214);
    text-shadow: 0px 2px black;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Oleo Script', cursive;
}
#Mission{
    color :rgb(0, 147, 214);
    text-shadow: 0px 2px black;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Oleo Script', cursive;

}
#Mission1{  

    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
#Vission{
    color:rgb(0, 147, 214);
    text-shadow: 0px 2px black;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Oleo Script', cursive;

}
#Vission1{  
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
#buy{
    font-weight: bold;
    font-family: 'Oleo Script', cursive;
    font-size: 60px;
    margin-top: 15px;
}
#buy1{ 
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    margin-top: 15px;
   
}
#buy2{
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    margin-top: 15px;
}
#buy3{
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    margin-top: 15px;
}
#buy4{
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    margin-top: 15px;
    color:white;
}
#pawtapet{
   font-size: 18px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:white;
}

#hovercard:hover{
    box-shadow: 0 0 11px rgba(0,0,0,5); 
    cursor: pointer;
    transition: 4;
    
    
}
#cards1{
    color: black;
    font-weight:bold;
    font-size:30px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#btn-shop{
font-size:17px;
   background-color: white; 
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   color:black;
   font-weight:bold;
}
#btn-shop:hover{
    font-size:17px;
    color:white;
   background-color:rgb(0, 147, 214); 
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-weight:bold;
}
#footer1{
    font-size:30px;
    color:white;
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-weight:bold;

}
#footer2{
    font-size:20px;
    text-decoration: none;
    color:white;
    text-decoration: none;
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-weight:bold;

}
#footer3{
    font-size:15px;
    text-decoration: none;
    color: white;
    text-decoration: none;
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-weight:bold;

}
#pawtahpet1{
    color:white;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Oleo Script', cursive;
}
#pawtahpet2{
    color:white;
    font-weight: bold;
    font-size:40px;
    align-items: center;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#pawtahpet3{
    color:rgb(0, 147, 214);
    font-weight: bold;
    font-size:30px;
    align-items: center;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
}
.form-control{
    padding-top:10px;
    padding-bottom:10px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form-label{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight:bold;
    font-size: 16px;
}
.form-select{
    padding-top:10px;
    padding-bottom:10px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.form-check-label{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight:bold;
    font-size: 16px; 
}

#Login1{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    color:white;
    background-color: rgb(0, 147, 214);
}
.w-100{
    width:100%;
    height:60vh;
}
#pawtahpet4{
    color:rgb(0, 147, 214);
    
    font-weight: bold;
    font-size: 60px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#cards2{
    color: black;
    font-weight:bold;
    font-size:20px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#w120{
    width:100%;
    height:90vh;

}